
    <span style ="color: brown; font-weight: bold;">{{ title }} Esta ejecutando Elio</span>

    <br/>

    <span>Saludo:{{saludo}}</span>

    <span>Saludo:{{saludo}}</span>
    <span>Saludo:{{saludo}}</span>
    <span>Saludo:{{saludo}}</span>
    <span>Saludo:{{saludo}}</span>
    <span>Saludo:{{saludo}}</span>
<span>Saludo:{{saludo}}</span>
<span>Saludo:{{saludo}}</span>
<span>Saludo:{{saludo}}</span>

    
<br/>
<app-empleados></app-empleados>
<app-empleados></app-empleados>
<app-empleados></app-empleados>
